*{
    margin: 0;
}
#canva{
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
}
#form-body{
    height: 410px;
    width: 300px;
    border: 2px solid grey;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
