<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Table</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        #form-body{
            height: 460px;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="canva">
            <div id="form-body">
                <h2>Update Table</h2>
                {% for msg in get_flashed_messages() %}
                    <div class="alert alert-danger">{{ msg }}</div>
                {% endfor %}
                <form action="/update_table/{{ table.id }}" method="POST">
                <div class="mb-3">
                    <label for="table_number" class="form-label">Table Number</label>
                    <input type="text" class="form-control" value="{{ table.table_number }}" id="table_number" name="table_number">
                </div>

                <div class="mb-3">
                    <label for="capacity" class="form-label">Capacity</label>
                    <input type="number" class="form-control" value="{{ table.capacity }}" id="capacity" name="capacity">
                </div>

                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <select class="form-select" aria-label="Default select example" name="location">
                        {% if table.location == 'In' %}
                            <option value="In">Indoor</option>
                            <option value="Out">Outdoor</option>
                        {% else %}
                            <option value="Out">Outdoor</option>
                            <option value="In">Indoor</option>
                        {% endif %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-select" aria-label="Default select example" name="status">
                        {% if table.status == 'available' %}                
                            <option value="available">Available</option>
                            <option value="not available">Not Available</option>
                        {% else %}
                            <option value="not available">Not Available</option>
                            <option value="available">Available</option>
                        {% endif %}
                    </select>
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>